<div class="container">
	
	<div class="container-children">
		<div class="titulo-avaliações" fxLayout="row" fxLayoutAlign="start center">
			<span>Avaliações</span>
		</div>

		<mat-tab-group>
			 <mat-tab label="Desempenho">
			    <div class="informações-avaliações" fxLayout="column" fxLayoutAlign="start start">
			    	<span style="font-size: 18px;">56 avaliações nos últimos 90 dias.</span>
			    	<span>01/01/2021 a 01/04/2021</span>
			    </div>
			 </mat-tab>

		    <mat-tab label="Avaliações e comentários">
		    	<div>
		    	
		    	</div>
		    </mat-tab>	  
		</mat-tab-group>

	
	</div>

</div>
