@import 'custom.scss';

html, body { height: 100%; }
body { margin: 0; font-family: 'Louis George Cafe'; }


@font-face {
	font-family: 'Louis George Cafe';
	src: url('assets/font/louis-george-cafe.ttf')  format('truetype');
	
}